POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

SERVER_URL=http://server:8111

# set your domain name and email!
VIRTUAL_HOST=ci.example.com
LETSENCRYPT_HOST=ci.example.com
LETSENCRYPT_EMAIL=username@example.ru
